
*.pb
*.log
*.rlx
*.sdb
*.ini
*.exe
*.xdbg
*.type
*.svtype
/AMBA_AHB_SVTB_Vivado/AMBA_AHB_SVTB_Vivado.sim
/AMBA_AHB_SVTB_Vivado/AMBA_AHB_SVTB_Vivado.cache
/AMBA_AHB_SVTB_Vivado/AMBA_AHB_SVTB_Vivado.cache
/AMBA_AHB_SVTB_Vivado/AMBA_AHB_SVTB_Vivado.runs/synth_1
*.jpg
*.pptx
IHI0033C_amba_ahb_protocol_spec.pdf
IHI0033C_amba_ahb_protocol_spec.pdf
IHI0033C_amba_ahb_protocol_spec.pdf
IHI0033C_amba_ahb_protocol_spec.pdf
